.backgrround1 {
    background-color: lightseagreen;
}

.backgrround2 {
    background-color: rgb(130, 219, 215);
}

#send {
    margin-left: 10px;
}
.display-6 {
    margin-left: 10px;
    color: green;
}